
.jumbotron {
    text-align: center;
    background: none;
}

.sectionLight {
    background-color: #eceeef;
    padding:2em;
}

.sectionDark {
    background-color: #cccccc;
    padding: 2rem;

}

.saveNatureWrapper {
    margin-top: 10px;
}


.farmbutton {
    text-align: center;
    padding: 10px;
}

.buyerbutton {
    text-align: center;
    padding: 10px;
}


/* 

@media (max-width: 767.98px) { 

 } */

