.jumbotron {
    text-align: center;
    background: none;
}

.sectionGrey {
    background-color: #272727;
    padding:2em;
    color: #cccccc;
}

.sectionDark {
    background-color: #cccccc;
    padding: 2rem;
}

.saveNatureWrapper {
    margin-top: 10px;
}


.farmbutton {
    text-align: center;
}

.buyerbutton {
    text-align: center;
}

.orderbutton {
    padding: 10px 20px 10px 20px;
    margin: 20px;
}


.backButton {
    text-align: center;
}

.orderSummaryButton {
    text-align: center;
}

.result {
    margin: 1rem;
}

.searchCenter {
    text-align: center;

}

.nearYou{
    font-size: 40px;
    text-align: center;
    font-family: 'EB Garamond', serif;
}

.caroSize {
    font-size: 30px;
    font-weight: 100;
}

.caroSize2 {
    font-size: 25px;
    font-weight: 100;
}
