.jumbotron {
    text-align: center;
    background: none;
}

.sectionLight {
    background-color: #eceeef;
    padding:2em;
}

.sectionDark {
    background-color: #cccccc;
    padding: 2rem;
}

.saveNatureWrapper {
    margin-top: 10px;
}

.create {
    font-size: x-large;
    font-style: oblique;
}

.choices {
    text-align: left;
}

.bigbutton {
    text-align: center;
}

.back-or-pay {
    margin: 20px;
}

.centerContact {
    text-align: center;
}

.entryMargin {
    margin: 5px;
}

.centerPlaceOrder{
    text-align: center;
    margin: 10px;
}
