.jumbotron {
    text-align: center;
    background: none;
}

.sectionLight {
    background-color: #eceeef;
    padding:2em;
}

.sectionDark {
    background-color: #cccccc;
    padding: 2rem;
}

.saveNatureWrapper {
    margin-top: 10px;
}

.create {
    font-size: 30px;
    text-align: center;
    font-family: sans-serif;
}

.choices {
    text-align: left;
}

.bigbutton {
    text-align: center;
}

.back-or-pay {
    margin: 20px;
}

.profit {
    font-weight: 700;
    font-family: sans-serif;
}

tr td {
    font-family: sans-serif;
}